@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --color-1: #e5e5e5;
  --color-2: #b2872a;;
  --color-3: #292734;
  --color-4: #f7f7f7;
  --color-5: black;
}

.dark-mode {
  --color-1: #121212;
  --color-2: #b2872a;;
  --color-3: #3f3f3f;
  --color-4: #282828;
  --color-5: #e7e7e7;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: var(--color-4);

}
h1, h2, h3, h4, h5, h6, p {
  color: var(--color-5);
}
a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: auto;
}


.btn {
  display: inline-block;
  padding: 15px 30px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.btn-primary {
  border: 1px solid #fff;
}

.btn-secondary,
.btn-third:hover {
  background: #383848;
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-third {
  background: #e4b95b;
}

.primary-text {
  color: #e4b95b;
}


#menu .title {
  text-align: center;
  margin-bottom: 6rem;
}


#menu h2 {
  font-size: 40px;
  margin-bottom: 20px;
} 


#menu {
  background: var(--color-4);
  padding: 5rem 0;
}


#menu .title p {
  color: #9a9a9a;
  font-weight: 500;
}

#menu .menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu .menu-items .menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

#menu .menu-items .menu-item img {
  width: 80px;
  margin-right: 20px;
  border-radius: 50%;
}

#menu .menu-items .menu-item h3 {
  border-bottom: 1px dashed #c2bdbd;
  padding-bottom: 10px;
  position: relative;
}

#menu .menu-items .menu-item span {
  position: absolute;
  right: 0px;
  top: 0;
}

#menu .menu-items .menu-item p {
  margin-top: 10px;
}

#menu .btn {
  display: block;
  margin: auto;
  border: none;
  margin-top: 30px;
}




#daytime {
  text-align: center;
}

#daytime .daytime-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40vh;
}

#daytime .daytime-items h3 {
  font-size: 32px;
  margin: 20px 0 10px;
}

#daytime .daytime-items p {
  font-weight: 500;
}



#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 588px;
}

.logo {
  height: 100px;
  margin: 5px; 
}
a {
  color: #fff;
  text-decoration: none;
}
.pg-footer {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}


.footer {
  background-color: #b2872a;
}
.footer-wave-svg {
  background-color: transparent;
  display: block;
  height: 30px;
  position: relative;
  top: -1px;
  width: 100%;
}
.footer-wave-path {
  fill: var(--color-4);
  transition: 0.5s;
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 450px;
  position: relative;
}

.footer-content-column {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  color: var(--color-1);
  font-weight: bold;
  transition: 0.5s;
}

.footer-content-column ul li a {
  color: var(--color-1);
  text-decoration: none;
  transition: 0.5s;
}

.footer-logo-link {
  display: inline-block;
}
.footer-menu {
  margin-top: 30px;
}

.footer-menu-name {
  color:var(--color-1);
  transition: 0.5s;
}

.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}
.footer-menu-list li {
  margin-top: 5px;
}

.footer-call-to-action-description {
  color: var(--color-1);
  margin-top: 10px;
  margin-bottom: 20px;
  transition: 0.5s;

}


.button:last-of-type {
  margin-right: 0;
}
.footer-call-to-action-button {
  background-color: #333;
  border-radius: 21px;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  padding: 12px 30px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .2s;
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}
.footer-call-to-action {
  margin-top: 30px;
}
.footer-call-to-action-title {
  color: var(--color-1);
  font-size: 14px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  transition: 0.5s;
}
.footer-call-to-action-link-wrapper {
  margin-bottom: 0;
  margin-top: 10px;
  color: var(--color-1);
  text-decoration: none;
  transition: 0.5s;
}
.footer-call-to-action-link-wrapper a {
  color: var(--color-1);
  text-decoration: none;
  transition: 0.5s;
}





.footer-social-links {
  bottom: 0;
  height: 54px;
  position: absolute;
  right: 0;
  width: 236px;
}

.footer-social-amoeba-svg {
  height: 54px;
  left: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 236px;
}

.footer-social-amoeba-path {
  fill: #e4b95b;
}

.footer-social-link.linkedin {
  height: 26px;
  left: 3px;
  top: 11px;
  width: 45px;
}

.footer-social-link {
  display: block;
  padding: 10px;
  position: absolute;
}

.hidden-link-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px,1px,1px,1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 50%;
}

.footer-social-icon-svg {
  display: block;
}

.footer-social-icon-path {
  fill: #fffff2;
  transition: fill .2s;
}

.footer-social-link.twitter {
  height: 280px;
  left: 62px;
  top: 3px;
  width: 45px;
}

.footer-social-link.youtube {
  height: 24px;
  left: 123px;
  top: 12px;
  width: 45px;
}

.footer-social-link.github {
  height: 34px;
  left: 172px;
  top: 7px;
  width: 50px;
}

.footer-copyright {
  background-color: #e4b95b ;
  color: #fff;
  padding: 15px 30px;
text-align: center;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-copyright-text {
color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-copyright-link {
  color: #fff;
  text-decoration: none;
}


@media (min-width: 760px) {
.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 450px;
  position: relative;
}

.footer-wave-svg {
  height: 50px;
}

.footer-content-column {
  width: 24.99%;
}
}
@media (min-width: 568px) {

}









