@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-1: #e5e5e5;
    --color-2: #b2872a;;
    --color-3: #292734;
    --color-4: #f7f7f7;
    --color-5: black;
  }
  
  .dark-mode {
    --color-1: #121212;
    --color-2: #b2872a;;
    --color-3: #3f3f3f;
    --color-4: #282828;
    --color-5: #e7e7e7;
  }
  h1, h2, h3, h4, h5, h6, p {
    color: var(--color-5);
  }
  .name{
    color: white;
  }
body{
    background: var(--color-1);
}

.main{
    margin: 10px;
}

.main .title{
    font-size: 50px;
    margin-bottom: 15px;
    text-align: center;
    color: var(--color-5);
    font-family: 'quicksand';
    font-weight: bold;


}

.main .card_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card_container .card{
    max-width: 410px;
    margin-top: 50px;
    border-radius: 20px;
    background: #1e293b;
    border: 0.5px solid #f1f5f9;
    padding: 15px;
    color: #f1f5f9;
    position: relative;
}

.user_content .name{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

.user_content .post{
    font-size: 15px;
    color: #6e77d3;
    margin: 15px 0;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    position: relative;
    left: 16px;
}

.user_content .post::before{
    content: "";
    height: 1px;
    width: 15px;
    background: #6c77d3;
    position: absolute;
    top: 50%;
    left: -16px;
}

.fa-solid{
    color: #ffc107;
}

.transparent{
    color: transparent;
}

.user_content .about{
    color: #cbd5e1;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    font-size: 13px;
}

.card .round_box{
    position: absolute;
    top: -20%;
    right: 10%;
    background: #1e293b !important;
    width: 130px;
    height: 130px;
    border: 1px solid #f1f5f9;
    border-radius: 50%;
    z-index: 333;
}

.card .img_box{
    position: absolute;
    top: -20%;
    right: 10%;
    z-index: 555;
}

.card .img_box img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    padding: 10px;
}

.card .squareBox{
    height: 90px;
    width: 136px;
    background: #1e293b;
    position: absolute;
    top: 0;
    right: 9%;
    z-index: 444;
}



#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 588px;
  }
  
  .logo {
    height: 100px;
    margin: 5px; 
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  .pg-footer {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
  }
  
  
  .footer {
    background-color: #b2872a;
  }
  .footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
  }
  .footer-wave-path {
    fill: var(--color-1);
    transition: 0.5s;
  }
  
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
  }
  
  .footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: var(--color-1);
    font-weight: bold;
    transition: 0.5s;
  }
  
  .footer-content-column ul li a {
    color: var(--color-1);
    text-decoration: none;
    transition: 0.5s;
  }
  
  .footer-logo-link {
    display: inline-block;
  }
  .footer-menu {
    margin-top: 30px;
  }
  
  .footer-menu-name {
    color:var(--color-1);
    transition: 0.5s;
  }
  
  .footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
  }
  .footer-menu-list li {
    margin-top: 5px;
  }
  
  .footer-call-to-action-description {
    color: var(--color-1);
    margin-top: 10px;
    margin-bottom: 20px;
    transition: 0.5s;
  
  }
  
  
  .button:last-of-type {
    margin-right: 0;
  }
  .footer-call-to-action-button {
    background-color: #333;
    border-radius: 21px;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
  }
  .footer-call-to-action {
    margin-top: 30px;
  }
  .footer-call-to-action-title {
    color: var(--color-1);
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
    transition: 0.5s;
  }
  .footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: var(--color-1);
    text-decoration: none;
    transition: 0.5s;
  }
  .footer-call-to-action-link-wrapper a {
    color: var(--color-1);
    text-decoration: none;
    transition: 0.5s;
  }
  
  
  
  
  
  .footer-social-links {
    bottom: 0;
    height: 54px;
    position: absolute;
    right: 0;
    width: 236px;
  }
  
  .footer-social-amoeba-svg {
    height: 54px;
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 236px;
  }
  
  .footer-social-amoeba-path {
    fill: #e4b95b;
  }
  
  .footer-social-link.linkedin {
    height: 26px;
    left: 3px;
    top: 11px;
    width: 45px;
  }
  
  .footer-social-link {
    display: block;
    padding: 10px;
    position: absolute;
  }
  
  .hidden-link-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
  }
  
  .footer-social-icon-svg {
    display: block;
  }
  
  .footer-social-icon-path {
    fill: #fffff2;
    transition: fill .2s;
  }
  
  .footer-social-link.twitter {
    height: 280px;
    left: 62px;
    top: 3px;
    width: 45px;
  }
  
  .footer-social-link.youtube {
    height: 24px;
    left: 123px;
    top: 12px;
    width: 45px;
  }
  
  .footer-social-link.github {
    height: 34px;
    left: 172px;
    top: 7px;
    width: 50px;
  }
  
  .footer-copyright {
    background-color: #e4b95b ;
    color: #fff;
    padding: 15px 30px;
  text-align: center;
  }
  
  .footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
  
  .footer-copyright-text {
  color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .footer-copyright-link {
    color: #fff;
    text-decoration: none;
  }
  
  
  @media (min-width: 760px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
  }
  
  .footer-wave-svg {
    height: 50px;
  }
  
  .footer-content-column {
    width: 24.99%;
  }
  }
  @media (min-width: 568px) {
  
  }
  